<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="violeta">
    <ion-buttons start (click)="goSettings()">
      <button ion-button icon-only color="light">
            <ion-icon name="settings" style="float: left"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>iTorah<label style="font-size: 10px">.com</label></ion-title>
    <ion-buttons end>
      <button (click)="Logout()"  ion-button style="background: #508992; border-radius: 50%; color: #fc0">{{name}}</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only color="light" menuToggle>
                    <ion-icon name="list"></ion-icon>
                </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar (click)="goHome()" color="amarillo" *ngIf="content_play" style="text-align: center">
    <ion-title>Mobile View of Website</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="content_play">
    <ion-grid>
      <ion-row style="padding: 8px">
        <ion-col col-12 style="text-align: center; padding: 0; color: #666f76"><label>Your current playlist</label></ion-col>
        <ion-col col-12 style="padding: 0">
          <hr style="color: #666f76">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="color: #3775be">Click to play</ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let lista of favorites">
      <ion-item color={{lista.color}} style="padding-left: 5px" >
        <ion-row>
          <ion-col col-11 (click)="changeColorWithPlayer(lista)">
            <div style="font-size: 15px; font-weight: bold; color: #666f76">{{lista.nombre}}</div>
            <div style="font-size: 13px; color: #a3a4a7">{{lista.descripcion}}</div>
          </ion-col>
          <ion-col col-1>
            <ion-icon name="remove" style="margin-top: 10px" (click)="RemoveinFavorites(lista)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="content_bro">
    <ion-grid style="padding-top: 0;">
      <ion-row>
        <ion-col col-12 style="text-align: center; padding: 0; color: #082358"><label>Choose your playlist</label></ion-col>
        <ion-col col-12 style="padding: 0">
          <hr style="color: #666f76">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let lista of browseList">
      <ion-item color={{lista.color}} style="padding-left: 5px" (click)="changeColor(lista)">
        <ion-row>
          <ion-col col-11>
            <div [ngClass]="{letras_browse: !lista.isSavedPlaylist, letras_browse_blanca: lista.isSavedPlaylist}">{{lista.nombre}}</div>
            <div class="letras_browse_desc">{{lista.descripcion}}</div>
          </ion-col>
          <ion-col col-1>
            <ion-icon *ngIf="!lista.isSavedPlaylist" name="add" style="margin-top: 10px; color: #082358; font-weight: bold" ></ion-icon>
            <ion-icon *ngIf="lista.isSavedPlaylist" name="checkmark" style="margin-top: 10px; color: #32db64; font-weight: bold" ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item color="gris" style="padding-left: 5px" (click)="siguienteLista()">
        <ion-row>
          <ion-col col-11>
            <div>Paracha of the Week by</div>
          </ion-col>
          <ion-col col-1>
            <ion-icon name="arrow-round-forward" style="margin-top: 10px; color: #082358; font-weight: bold"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>


  <div *ngIf="content_sig">
    <ion-grid>
      <ion-row>
        <ion-col col-12 style="padding-top: 0;">
          <button (click)="cambiaContent(aux=2)" ion-button icon-start style="width: 98%">
                      <ion-icon name="arrow-back"></ion-icon>
                      Back
                    </button></ion-col>
        <ion-col col-12 style="text-align: center; padding: 0; color: #082358"><label>Choose your playlist</label></ion-col>
        <ion-col col-12 style="padding: 0">
          <hr style="color: #666f76">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let lista of broweSubList" class="subList">
      <ion-item color={{lista.color}} style="padding-left: 5px" (click)="changeColor(lista)">
        <ion-row>
          <ion-col col-11>
            <div [ngClass]="{letras_browse:!lista.isSavedPlaylist, letras_browse_blanca: lista.isSavedPlaylist}">{{lista.nombre}}</div>
            <div class="letras_browse_desc">{{lista.descripcion}}</div>
          </ion-col>
          <ion-col col-1>
            <ion-icon *ngIf="!lista.isSavedPlaylist" name="add" style="margin-top: 10px; color: #082358; font-weight: bold" ></ion-icon>
            <ion-icon *ngIf="lista.isSavedPlaylist" name="checkmark" style="margin-top: 10px; color: #32db64; font-weight: bold"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="reproductor" color="azulReproductor" style="padding: 0">
    <ion-row style="text-align: center; padding: 0">
      <ion-col><button ion-button color="light" clear><ion-icon name="sync"></ion-icon></button></ion-col>
      <ion-col><button ion-button color="light" clear><ion-icon name="skip-backward"></ion-icon></button></ion-col>
      <ion-col><button ion-button color="light" clear><ion-icon name="pause"></ion-icon></button></ion-col>
      <ion-col><button ion-button color="light" clear> <ion-icon name="skip-forward"></ion-icon></button></ion-col>
      <ion-col><button ion-button color="light" clear><ion-icon name="shuffle"></ion-icon></button></ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar color="violeta" style="padding: 0">
    <ion-row style="text-align: center; padding: 0">
      <ion-col><button ion-button color="light" clear (click)="cambiaContent(aux=1)" [ngClass]="{buttom_blanco: positivo, buttom_gris:!positivo}">Playlist</button></ion-col>
      <ion-col><button ion-button color="light" clear (click)="cambiaContent(aux=2)" [ngClass]="{buttom_blanco: !positivo, buttom_gris:positivo}">Browse</button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>