page-playlist {

    .letras_browse{
        font-size: 15px; 
        font-weight: bold;
        color: #666f76
    }

    .letras_browse_desc{
        font-size: 13px;
        color: #488aff
    }

    .letras_browse_blanca{
        font-size: 15px; 
        font-weight: bold;
        color: white
    }

    .buttom_blanco{
        color: white
    }

    .buttom_gris{
        color: gray
    }

    .subList .letras_browse_blanca,.subList .letras_browse{
        font-size: 13px
    }


    /**************************************************************/


 
}
